<h2>Signup</h2>
<form (ngSubmit)="onSignup()" #signupForm="ngForm">
  <label>
    Username:
    <input name="username" [(ngModel)]="username" required />
  </label>
  <label>
    Email:
    <input name="email" [(ngModel)]="email" required type="email" />
  </label>
  <label>
    Password:
    <input name="password" [(ngModel)]="password" type="password" required />
  </label>
  <button type="submit">Signup</button>
  <div *ngIf="message" style="color:green;">{{ message }}</div>
  <div *ngIf="error" style="color:red;">{{ error }}</div>
</form>